.form_container{
    
    .loginMethod{
        margin-top: 20px;
        text-align: center;

        div{
            margin: 20px;
            
            a{
                font-size : 20px;
                text-decoration: none;
            }

            a#kakao{
                border-radius: 5px;
                background-color: #f6e58d;
                span{
                    font-weight: 600;
                    color : white
                }
            }

            #find{
                i{  
                    span{
                        padding : 10px;
                        font-size : 13px;
                        font-weight: 300;
                        color : black;
                    }

                    span:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
}