.header{ //전체
    min-width: 1000px;
    height: 100%;
    background-color : #f7f1e3;
    margin-bottom : 5px;
    padding : 5px;
    //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
    border-bottom : 2px solid rgba(0,0,0,0.1);

    .header_container{
        padding: 10px;

        .header_column:nth-child(2){ //홈 버튼
            width: 100%;
            padding: 10px;
            text-align: center;

            a{
                display: inline;
                text-decoration: none;
                color : #77d8d8;
                letter-spacing: 10px;
                font-size : 50px;
                font-weight: bold;
            }

            input{
                margin-left: 50px;
                width: 300px;
                height: 30px;
            }
        }

        .header_column:nth-child(4){ //버튼메뉴
            margin-right: -6%;
            margin-left: -6%;
            background-color: #3498db;
            
            ul{
                margin-left: 5%;
                margin-left: 5%;
                margin-top: 10px;
                margin-bottom: 15px;
                font-size : 15px;
                display: flex;
                flex-direction: row;
                
                li{
                    flex-grow: 1;
                    padding : 5px;
                    form{
                        margin: auto;
                        width: 100%;

                        input{
                            width: 100%;
                            font-size : 18px;
                            background-color: #3498db;
                            color : white;
                            font-weight: bold;
                            text-align: center;    
                            padding: 10px;
                            opacity: 0.8;     

                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            border-right-width: 0px;
                            border-left-width: 0px;
                        }

                        input:hover{
                            color : yellow;
                        }
                    }
                }
            }
        }

        .sideBar{ //사이드바 
            display: grid;
            grid-template-columns: 20% 80%;
            width: 100%;
            height: 158px;
            
            ul{
                min-width: 191px;
                padding-top: 20px;
                padding-left : 10px;

                li{
                    padding-bottom: 15px;
                    
                    a{
                        text-decoration: none;
                        font-size : 15px;
                    }

                    span{
                        font-size : 20px;
                    }
                }
            }

            .advertisement{  //광고이미지
                overflow: hidden;
                display : flex;
                align-items: center;
                justify-content: center;
                min-width: 783px;
                width: 100%;
                height: 158px;
            }

            .advertisement:hover{
                opacity: 0.7;
            }
        }
    }
}