extends layouts/main
include layouts/mixin/postSimpleShow

block content
    .home_container
        .home_column
            h3 최근 조회수 높은 자료
            .posts
                each item in posts
                    +postSimpleShow({
                        id: item.id,
                        imageUrl: item.imageUrl,
                        title: item.title,  
                        separate: item.separate,
                        target : item.target,
                        view : item.view,
                        period : item.period
                    })
        .home_column
            h3 최신 자료
            .posts
                each item in posts2
                    +postSimpleShow({
                        id: item.id,
                        imageUrl: item.imageUrl,
                        title: item.title,
                        separate: item.separate,
                        target : item.target,
                        view: item.view,
                        period: item.period
                    })