extends layouts/main

block content
    .form_container
        .form_column
            form(action=routers.login method="post")
                input(type="email" name="username" placeholder="아이디" requied= true)
                input(type="password" name="password" placeholder="비밀번호" requied=true)
                input(type="submit" value="로그인")
        .form_column.loginMethod
            div
                a#find(href="/find")
                    i.fas.fa-lock
                        span|아이디 찾기 
                a#find(href="/find")
                    i.fas.fa-key   
                        span|비밀번호 찾기

        .form_column
